{% extends 'index.html' %}

{% block content %}

<div class="contacts-wrapper">
    Свяжитесь с нами и мы обязательно постараемся помочь ;)
    <div class="contacts">
        Электронная почта:
        <div class="contacts-email">
            bee_loved@gmail.com
        </div>
    </div>
    Вступите в наш телеграм-канал и получите уникальные возможности!
    <ul class="contacts-spisok">
        <li>
            Узнаете много нового и интересного о растениях
        </li>
        <li>
            Будете первым узнавать о всех новинках нашего магазина
        </li>
        <li>
            Раскроем для Вас секреты и тонкости по уходу за растениями
        </li>
    </ul>
</div>

{% endblock %}